/* 
  ****************
    CALENDAR
  ****************
*/
.react-datepicker {
  border: 0 !important;
}

.react-datepicker__header {
  border: 0 !important;
  background-color: transparent !important;
}

.react-datepicker__month {
  margin: 0 !important;
}

.react-datepicker__day-names {
  display: flex;
}

.react-datepicker__day-name {
  flex: 1;
  margin: 0 !important;
}

.react-datepicker__day {
  margin: 0 !important;
  border: 1px solid rgb(162, 162, 162);
}

.calendarSelect {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* 
  ****************
    TABLE
  ****************
*/
.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.table th,
.table td {
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.table thead th {
  text-transform: uppercase;
  font-size: 20px;
}

table tr:nth-child(odd) {
  background-color: #f4f3f3;
}

.buttonInfoModal {
  font-size: 10px;
  height: 15px;
  width: 15px;
}

.cart {
  display: none;
}

@media screen and (max-width: 1024px) {
  .table {
    border: 0px;
  }

  .table thead {
    display: none;
  }

  .table tr {
    margin-bottom: 8px;
    border-bottom: 4 solid #ddd;
    display: block;
  }

  .table th,
  .table td {
    font-size: 12px;
  }

  .table td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }

  .table td:last-child {
    border-bottom: 0px;
  }

  .table td::before {
    content: attr(data-aria-label);
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  .cart {
    display: block;
  }

}

/* 
  ****************
    QUANTITY
  ****************
*/

button:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

a,
a:hover {
  text-decoration: none;
}

.qty-container {
  align-items: center;
  justify-content: center;
}

.qty-container .input-qty {
  text-align: center;
  border: 1px solid #d4d4d4;
  max-width: 40px;
  max-height: 30px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
  font-size: 14px;
  height: 20px;
  width: 20px;
}

.btn-rounded {
  border-radius: 50%;
}

.input-rounded {
  border-radius: 50px;
}

[data-aria-label] {
  font-size: 20px;
}

.frame {
  width: 90%;
  margin: 15px auto;
  text-align: center;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-cart {
  position: relative;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-cart span {
  background: rgb(38, 38, 38);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-cart span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-cart span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-cart:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-cart:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}